body {
  background-color: #F2F2F2;
}

div#wrapper {
    width: 85%;
    margin: 0 auto;
    background-color: blue;
}

div#first {
    width: 330px;
    height: 700px;
    border: 15px solid; color:#034876;
    padding: 25px;
    padding-right: 40px;
    margin: 10px;
    margin-right: 25px;
    float:left;
    position:relative
}

div#second {
    width: 360px;
    height: 700px;
    border: 15px solid; color:#034876;
    padding: 25px;
    margin: 10px;
    margin-right: 25px;
    float:left;
    position:relative
}

div.small_box {
    width: 330px;
    height: 160px;
    border: 15px solid; color:#034876;
    padding: 25px;
    padding-right: 40px;
    margin: 10px;
    margin-right: 25px;
    position:relative
}

div#arrow {
  line-height: 48em;
  float:left;
  position:relative
}

input#edit_button {
  position: absolute;
    bottom: 2em;
    left: 2em;
}

input#delete_button {
  position: absolute;
    bottom: 2em;
    left: 22em;
}

input#add_workout {
  position: absolute;
    bottom: 2em;
    left: 2em;
}
