body {
  background-color: #3B96DC;
}

div.wrapper {
  background: #fff;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 16px auto;
  max-width: 1160px;
  padding: 2.25%; /* 18px / 800px */
  width: 85%;
  overflow:hidden
}

div#mid_box {
    width: 50%;
    height: 40%;
    border: 15px solid; color:#034876;
    padding: 25px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    position:relative
}

div#first {
    width: 330px;
    height: 700px;
    border: 15px solid; color:#034876;
    padding: 25px;
    padding-right: 40px;
    margin: 10px;
    margin-right: 25px;
    float:left;
    position:relative
}

div#second {
    width: 360px;
    height: 700px;
    border: 15px solid; color:#034876;
    padding: 25px;
    margin: 10px;
    margin-right: 25px;
    float:left;
    position:relative
}

div.small_box {
    width: 330px;
    height: 160px;
    border: 15px solid; color:#034876;
    padding: 25px;
    padding-right: 40px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    position:relative
}

div#arrow {
  line-height: 48em;
  float:left;
  position:relative
}

input#log_in {
  position: absolute;
    bottom: 3em;
    left: 13em;
}

input#edit_button {
  position: absolute;
    bottom: 2em;
    left: 4em;
}

input#delete_button {
  position: absolute;
    bottom: 2em;
    left: 36em;
}

input#add_workout {
  position: absolute;
    bottom: 2em;
    left: 2em;
}

.center {
    text-align: center;
  }
