<h1>Log In Here</h1>

<form method="POST" action="/login">
<h4>Username: <input type="text" name="username" placeholder="Username"></h4>
<h4>Password: <input type="password" name="password" placeholder="Password"></h4>
<input type="submit" name="Log In" value="Log In">
</form>
