<div class="small_box">
<h1 class="center">Welcome to Gains-Tracker!</h1>
<p style="border-bottom:1px solid #212121;padding-bottom:12px;"></p><br>

<div align="center"><a href="/login"><input type="submit" value="Login"></a> <a href="/signup"><input type="submit" value="Sign Up"></a></div>
</div>
