<div class="small_box">
<h1 class="center">Welcome to Gains-Tracker!</h1>
<br>

<div align="center"><a href="/login"><input id="login_user" type="submit" value="Login"></a> <a href="/signup"><input id="signup_user" type="submit" value="Sign Up"></a></div>
</div>
