<!DOCTYPE html>
<html>
  <head>
    <title>Gains Tracker</title>
     <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>

  <body>
    <div class="wrapper">

      <%= yield %>
      <footer class="copyright">
     <small>&copy; 2017 <strong>Gains Tracker</strong></small>
     </footer>
     <footer class="navigation">
       <% if logged_in? %>
         <a href="/workouts/new"><button id="layout-links">New Workout</button></a>
         <a href="/workouts"><button id="layout-links">View Workouts</button></a>
         <a href="/exercises"><button id="layout-links">View Exercises</button></a>
         <a href="/logout" onclick="return confirm('Are you sure you want to log out?');"><button id="layout-links"><strong>Log Out</strong></button></a>
       <% end %>
   </footer>

    </div>
  </body>
</html>
